@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@model FinalProject_2nd_edition.Models.BookViewModel_List


@{
    ViewData["Title"] = "Index";
}

<h1>Books</h1>
@if ((await AuthorizationService.AuthorizeAsync(User, "RequireAdministratorRole")).Succeeded)
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
@using (Html.BeginForm())
{
    <p>
        Search by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}

<div class="row">
    @foreach (var item in Model.List)
    {
        <div class="col-md-3 mb-3 mb-md-0">
            <div class="card" style="background:#d4e0f6">
                <h5 class="card-title text-center" style=text-align: center><a asp-controller="Books" asp-action="Details" asp-route-id="@item.BookId">@Html.DisplayFor(modelItem => item.Name)</a></h5>
                <p class="card-title text-center" style=text-align: center><a asp-controller="Authors" asp-action="Details" asp-route-id="@item.Author.AuthorId">@Html.DisplayFor(modelItem => item.Author.Name)</a></p>
                <img class="card-img-top align-self-center" src="@item.PictureUrl" alt="Card image" style="width:220px;height:300px;">
                <div class="card-body">
                    <p class="card-title text-center"><a asp-controller="Genres" asp-action="Details" asp-route-id="@item.Genre.GenreId">@Html.DisplayFor(modelItem => item.Genre.Name)</a></p>
                    @if ((await AuthorizationService.AuthorizeAsync(User, "RequireAdministratorRole")).Succeeded)
                    {
                        <p class="card-title text-center">
                            
                                <a asp-action="Edit" asp-route-id="@item.BookId">Edit</a>
                                <a asp-action="Delete" asp-route-id="@item.BookId">Delete</a>
                           
                        </p>
                    }
                </div>
            </div>
        </div>
    }
</div>



<nav aria-label="...">
    <ul class="pagination">
        @if (Model.CurrentPage == 1)
        {
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
        }
        else
        {
            <li class="page-item">
                <a class="page-link" href="/Books/Index?currentPage=@(Model.CurrentPage-1)" tabindex="-1">Previous</a>
            </li>
        }
        @for (int i = 0; i < Model.TotalPages; i++)
        {
            if (i + 1 == Model.CurrentPage)
            {
                <li class="page-item active">
                    <a class="page-link" href="/Books/Index?currentPage=@(i + 1)">@(i + 1) <span class="sr-only">(current)</span></a>
                </li>
            }
            else
            {
                <li class="page-item"><a class="page-link" href="/Books/Index?currentPage=@(i + 1)">@(i + 1)</a></li>
            }
        }

        @if (Model.CurrentPage == Model.TotalPages)
        {
            <li class="page-item disabled">
                <a class="page-link" href="#">Next</a>
            </li>
        }
        else
        {
            <li class="page-item">
                <a class="page-link" href="/Books/Index?currentPage=@(Model.CurrentPage+1)">Next</a>
            </li>
        }

    </ul>
</nav>
