@model FinalProject_2nd_edition.Models.BookViewModel_List
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Welcome to Library</h2>
    <p>Library is a simple application in which you may discover books, authors and genres. </p>
    <p>It is made as a Final Project in DSK Reskill Academy </p>
    <p>You may find the full code <a href="https://github.com/rosirz/FinalProject-Digital-Academy-DSk-2nd-edition">in GitHub</a>.</p>
</div>



<h4>Last added books</h4>
<div class="card-deck">
    @foreach (var item in Model.List)
    {
        <div class="card" style="background:#d4e0f6">
            <h6 class="card-title text-center" style=text-align: center><a asp-controller="Books" asp-action="Details" asp-route-id="@item.BookId">@Html.DisplayFor(modelItem => item.Name)</a></h6>
            <p class="card-title text-center" style=text-align: center><a asp-controller="Authors" asp-action="Details" asp-route-id="@item.Author.AuthorId">@Html.DisplayFor(modelItem => item.Author.Name)</a></p>
            <img class="card-img-top align-self-center" src="@item.PictureUrl" alt="Card image" style="width:200px;height:300px;">
            <div class="card-body">
                <p class="card-title text-center"><a asp-controller="Genres" asp-action="Details" asp-route-id="@item.Genre.GenreId">@Html.DisplayFor(modelItem => item.Genre.Name)</a></p>
            </div>

        </div>
    }





</div>

